<div class="row">
    <div class="col-md-12 col-xl-4">

        <div class="card">
            <div class="card-body" style=" box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); border-radius: 10px;">
                <div class="row justify-content-between">
                    <div class="row" style="padding-left: 32px;">
                        <div class="col-auto" style="background-color: #e6f6ff;border-radius: 5px;">

                            <h5 style="margin-top: 3px;">Total Assets</h5>


                        </div>
                        <div>
                            <div class="col-auto ribbon" >
                                <div style="margin-top: 38%;">
                                    <i class="bi bi-gear" style="color: #009cff;font-size: 45px;"></i>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">


                        <div class="col-auto">
                            <br>
                            <div class="user-group" style="padding-left: 5px;margin-top: 8px;">
                                <h1 style="color: green;">275</h1>
                                <p class="">Total available assets in workshop</p>
                            </div>




                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="col-md-12 col-xl-4">

        <div class="card">
            <div class="card-body" style="  border-radius: 10px;background-color: #4398d3;">
                <div class="row justify-content-between">
                    <div class="row" style="padding-left: 32px;">
                        <div class="col-auto" style="background-color: white;border-radius: 5px;">

                            <h5 style="margin-top: 3px;">Missing Assets</h5>


                        </div>
                        <div>
                            <div class="col-auto ribbon" >
                                <div style="margin-top: 38%;">
                                    <i class="bi bi-gear" style="color: #009cff;font-size: 45px;"></i>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">


                        <div class="col-auto">
                            <br>
                            <div class="user-group" style="padding-left: 5px;margin-top: 8px;color:white">
                                <h1 style="color: white;" >027</h1>
                                <p class="">Total missing assets in workshop</p>
                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

</div>