.filter-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
   
  }
  
  .filter-card .dropdown-container {
    margin-bottom: 12px;
  }
  
  .filter-card label {
    display: block;
    margin-bottom: 6px;
    //font-weight: bold;
  }
  
  .filter-card select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }