<div class="row">

  <div class="col-md-4">
    <div class="form-group mb-3">
      <label class="form-label" for="lastName">Select Site</label>
          <select class="form-control" id="selectType">
            <option value="BLE 1">Site 1</option>
            <option value="VAN 1">Site 2</option>
          </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mb-3">
      <label class="form-label" for="lastName">Region</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter region" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mb-3">
      <label class="form-label" for="lastName">Location</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter location" />
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center" style="margin-top: 1.5rem;">
    <button type="button" class="btn btn-primary"
      style="padding: 0.65rem; width: 100px; font-size: 0.875rem;">Save</button>
  </div>
</div>