<div class="row">
  <h5 class="mb-3">Add New Location</h5>
  <app-add-location/>
</div>


<div class="row">
    
    <div class="col-md-12 col-xl-12">
      <h5 class="mb-3">Locations</h5>
      <div class="card tbl-card">
        <div class="table-responsive">
          <table class="table table-hover mb-0 " >
            <thead >
              <tr >
                <th style="background-color: #4398d3;color:white">SITE</th>
                <th style="background-color: #4398d3;color:white">LOCATION</th>
               
                <th style="background-color: #4398d3;color:white">AREA</th>
                <th style="background-color: #4398d3;color:white">ASSETS</th>
                <th style="background-color: #4398d3;color:white">LAST SEEN</th>
                <th style="background-color: #4398d3;color:white">GPS</th>
                <th style="background-color: #4398d3;color:white">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of locationList; let i = index" 
              (click)="goToDetails(item.areaId, item.locationId)" 
              style="cursor: pointer;">
              <td>{{ item.siteName }}</td>
            <td>{{ item.locationName }}</td>
            <td>{{ item.areaName }}</td>
            <td>{{ item.assetCount }}</td>
            <td>{{ getTimeDifference(item.lastUpdateOn) }}</td>
            <td><i class="bi bi-geo-alt"></i></td>
            <td> <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-trash text-danger"></i></td>
          </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
 
    <!-- [ sample-page ] end -->
  </div>
  
