<div class="row">
  <h5 class="mb-3">Add New Location</h5>
  <app-add-location (locationAdded)="loadDevices()"/>
</div>


<div class="row">
    
    <div class="col-md-12 col-xl-12 mt-2">
      <h5 class="mb-3">Locations</h5>
      <div class="input-group w-25">

        <input class="input-simple" type="text" placeholder="Search" [(ngModel)]="searchText">
      </div>
      <div class="card tbl-card">
        <div class="table-responsive">
          <table class="table table-hover mb-0 " >
            <thead >
              <tr >
                
                <th style="background-color: #4398d3;color:white">LOCATION</th>
                <th style="background-color: #4398d3;color:white">LOCATION TAG</th>
               
                <th style="background-color: #4398d3;color:white">AREA</th>
                <th style="background-color: #4398d3;color:white">AREA TAG</th>
                
               
                <th style="background-color: #4398d3;color:white">GPS</th>
                <th style="background-color: #4398d3;color:white">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of paginatedDevices">
                <td>{{ device.locationName }}</td>
                <td>{{ device.locationTag }}</td>
                <td>{{ device.areaName }}</td>
                <td>{{ device.areaTag }}</td>
               
                <td (click)="openMap()"><i class="bi bi-geo-alt"></i></td>
                <td>
                  <i class="bi bi-pencil-square" (click)="openModal(device, editModal)" ></i>&nbsp;&nbsp;&nbsp;
                  <i class="bi bi-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="    margin-top: 10px;">
      <nav aria-label="Device pagination mt-5">
        <ul class="pagination justify-content-end">
          <!-- Previous Button -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="prevPage()" [disabled]="currentPage === 1">
              Previous
            </button>
          </li>
  
          <!-- Page Numbers -->
          <li *ngFor="let page of getPaginationNumbers()" class="page-item" [class.active]="page === currentPage">
            <button class="page-link" (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
  
          <!-- Next Button -->
          <li class="page-item" [class.disabled]="currentPage >= totalPages">
            <button class="page-link" (click)="nextPage()" [disabled]="currentPage >= totalPages">
              Next
            </button>
          </li>
        </ul>
      </nav>
  
    </div>
 
    <!-- [ sample-page ] end -->
  </div>
  
<!-- UPDATE MODAL -->

<app-map-popup *ngIf="showMapPopup"></app-map-popup>



<ng-template #editModal let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Update Area</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <form #deviceForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="locName" class="form-label">Location Name</label>
              <input type="text" id="locName" class="form-control" [(ngModel)]="selectedDevice.locationName"
                name="locName" style="cursor: not-allowed;" readonly >
            </div>
          </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="locTag" class="form-label">Location Tag</label>
                <input type="text" id="locTag" class="form-control" [(ngModel)]="selectedDevice.locationTag"
                  name="locTag" style="cursor: not-allowed;" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="deviceName" class="form-label">Area Name</label>
                <input type="text" id="deviceName" class="form-control" [(ngModel)]="selectedDevice.areaName"
                  name="deviceName" required>
              </div>
            </div>
         
         
          <div class="col-md-6">
            <div class="mb-3">
              <label for="macId" class="form-label">Area Tag</label>
              <input type="text" id="macId" class="form-control" [(ngModel)]="selectedDevice.areaTag" name="macId"
                required>
            </div>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveChanges(modal)">Update</button>
    </div>
  </div>
</ng-template>