<!-- <div class="row">
    <h5 class="mb-3">Add new asset</h5>
    <div class="col-md-4">
        <div class="form-group mb-3">
          <label class="form-label" for="firstName"> Asset Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter asset name" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label class="form-label" for="lastName">Select BLE</label>
          <select class="form-control" id="selectType">
            <option value="BLE 1">BLE 1</option>
            <option value="VAN 1">VAN 1</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label class="form-label" for="lastName">Select Type</label>
          <select class="form-control" id="selectType">
            <option value="Retrigiut">Retrigiut</option>
            <option value="Forklift">Forklift</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center" style="margin-top: 1.5rem;">
        <button type="button" class="btn btn-primary"
          style="padding: 0.65rem; width: 100px; font-size: 0.875rem;">Save</button>
      </div>
</div> -->
<div class="row">
    <app-asset-list-table/>
</div>
